+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="HIST 640: Digital History" image_anchor="top" height="min" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Syllabus <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Course Content <i class="fas fa-arrow-alt-circle-right ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://calendly.com/i2millig/30min">
		Book a Meeting with Prof. Milligan <i class="fas fa-calendar-alt ml-2"></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Digital history, the application of new and emerging technologies to the study of history, is an important field that has begun to reshape historical production and scholarship. This graduate level course introduces students to the literature on digital history, and then puts theory into practice by digitally collecting, publishing, and producing new historical knowledge with cutting-edge tools.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-bullhorn" title="A hybrid course!" %}}
We'll be meeting via Microsoft Teams for no more than 90 minutes a week, with content delivered via video and text. 

No live info dumps!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-file-medical" title="A reasonable workload." %}}
There is an ongoing pandemic ---  baked into the ethos of this course is care. 

I will make sure that being remote does not increase your workload, and asnychronous components will give you maximum flexibility.

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-running" title="Flexible!" %}}
Internet doesn't work? Kids don't have daycare? Welcome to my life. We can work together.
{{% /blocks/feature %}}

{{< /blocks/section >}}
